
<%= form_for [@fencer, @bout] do |f| %>

  <div class="non_required_field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="non_required_field">
    <%= f.label :qualifying %>
    <%= f.select(:qualifying, options_for_select(@qualifying_collection), { :include_blank=>true}) %>
  </div>

  <div class="non_required_field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class = "actions">
    <%= f.submit "Submit Match" %>
  </div>

<% end %>
