<%= form_for @bout do |f| %>

  <div class="non_required_field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="non_required_field">
    <%= f.label :qualifying %>
    <%= f.text_field :qualifying %>
  </div>

  <div class="non_required_field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div>
    <%= f.submit "Submit Bout" %>
  </div>

<% end %>
