<!-- <div id="container" style="width:100%; height:400px;"></div> -->
<div class="row">
  <div class="medium-6 large-4 columns">
    <article class="article-card">
       <img class="thumbnail" src="https://s3.amazonaws.com/engardeappfencingimages/fencer<%= @fencer.id %><%=".jpeg"%>" style="width: 500px; height: 500px"></a>
      <div class="card-content">
        <p class="post-author"><%=@fencer.name%></p>
      </div>
    </article>
  </div>
  <div class="medium-15 large-8 columns">
    <article class="stats-card">
      <img src="https://s3.amazonaws.com/engardeappfencingimages/banner.jpeg" style="width: 3000px; height: 200px"%></a>
      <div class="card-content">
      <p class="post-author">

        <% if !@fencer.dominant_hand.nil? %>
          <div class="small-12 columns" id="fencer_hand">Dominant Hand: <%= @fencer.dominant_hand %>
          </div>
        <% end %>

        <% if !@fencer.category.nil? %>
          <div class="small-12 columns" id="fencer_category">
            Category: <%= @fencer.category %>
          </div>
        <% end %>

        <% if !@fencer.letter_rating.nil? %>
          <div class="small-12 columns" id="fencer_category">
            Category: <%= @fencer.category %>
          </div>
        <% end %>

        <% if !@fencer.notes.nil? %>
              Notes: <%= @fencer.notes %>
          </div>




      </p>
      </div>
    </article>
  </div>
</div>






  <% end %>
  <br>
  <div>
    <%= link_to "Edit Fencer", edit_user_fencer_path(current_user, @fencer), class: "button purple-button margin-book-info"%>
  </div>

  <br>
  <div>
    <%= button_to "Delete Fencer", @fencer, class: "button purple-button margin-book-info", method: :delete %>
  </div>
