<div id="container" style="width:100%; height:400px;"></div>

<% if !@fencer.profile_photo.nil? %>
  <div class="small-12 columns" id="fencer_profile_photo">
 <%= @fencer.profile_photo %>
  </div>
<% end %>

<% if !@fencer.name.nil? %>
  <div class="small-12 columns" id="fencer_name">
 <%= @fencer.name %>
  </div>
<% end %>

  <% if !@fencer.dominant_hand.nil? %>
    <div class="small-12 columns" id="fencer_hand">
      Dominant Hand: <%= @fencer.dominant_hand %>
    </div>
  <% end %>

  <% if !@fencer.category.nil? %>
    <div class="small-12 columns" id="fencer_category">
      Category: <%= @fencer.category %>
    </div>
  <% end %>

  <% if !@fencer.notes.nil? %>
    <div class="small-12 columns" id="fencer_notes">
      Notes: <%= @fencer.notes %>
    </div>
  <% end %>
  <br>
  <div>
    <%= button_to "Edit Fencer", @fencer, class: "button purple-button margin-book-info", method: :edit %>
  </div>

  <br>
  <div>
    <%= button_to "Delete Fencer", @fencer, class: "button purple-button margin-book-info", method: :delete %>
  </div>
