<div class="row">
  <div class="medium-6 large-4 columns">
    <article class="article-card">
       <img class="thumbnail" src="https://s3.amazonaws.com/engardeappfencingimages/fencer<%= @fencer.id %><%=".jpeg"%>" style="width: 500px; height: 500px"></a>
      <div class="card-content">
        <p class="post-author"><%=@fencer.name%></p>
      </div>
    </article>
  </div>
  <div class="medium-15 large-8 columns">
    <article class="stats-card">
      <img src="https://s3.amazonaws.com/engardeappfencingimages/banner.jpeg" style="width: 4500px; height: 150px"%></a>
      <div class="card-content">
      <p class="post-author">

        <% if !@fencer.dominant_hand.nil? %>
          <div class="small-12 columns" id="fencer_hand">Dominant Hand: <%= @fencer.dominant_hand %>
          </div>
        <% end %>
        <% if !@fencer.category.nil? %>
          <div class="small-12 columns" id="fencer_category">
            Category: <%= @fencer.category %>
          </div>
        <% end %>

        <% if !@fencer.letter_rating.nil? %>
          <div class="small-12 columns" id="fencer_category">
            Letter Rating: <%= @fencer.letter_rating %>
          </div>
        <% end %>
          <p><br></p>
        <% if !@fencer.notes.nil? %>
              Notes: <%= @fencer.notes %>
              <% end %>

          </div>
          <br>
            <div class="submenu menu vertical">

      <%= link_to "All Fencers", fencers_path%>
      <%= link_to "Add Match", new_fencer_bout_path(@fencer)%>
      <%= link_to "Edit Info", edit_user_fencer_path(current_user, @fencer)%>
      <%= link_to "Delete Fencer", @fencer, method: :delete %>
      <%= link_to "Matches", fencer_bouts_path(@fencer)%>
      <%= link_to "Performance", fencer_performances_path(@fencer)%>

          </div>
          </div>
      </p>
      </div>
    </article>
  </div>
</div>
